.layout-header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;

  background-color: #fff;
}

.layout-header--home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.layout-plans {
  padding: 80px 0;
}

@media(max-width: 749px) {
  .layout-plans .row > div:not(.last-column) {
    margin-bottom: 40px;
  }
}

.layout-plans-link {
  padding: 80px 0;
  margin-top: 60px;

  background-color: #7ab55c;
}

.layout-testimonial {
  padding: 80px 0;

  background-color: #e7e7e7;
}

.layout-footer {
  padding: 40px 0;

  background-color: #484848;

  color: #fff;
  text-align: center;
}

.layout-subscribe {
  padding: 40px 0;
}

.layout-button-subscribe {
  margin-top: 40px;

  text-align: center;
}
